[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mccount"]
	path = mccount
	url = https://github.com/kennethataylor/mccount
[submodule "mmequiv"]
	path = mmequiv
	url = https://github.com/kennethataylor/mmequiv
